<%    
if @wiki_approval_data && RedmineWikiApproval.draft_create?(@project, @wiki_approval_data[:setting])

    # disabled, approval_required or approval_version_required
    disabled = @wiki_approval_data[:setting].wiki_approval_required || 
               (@wiki_approval_data[:setting].wiki_approval_version && WikiApprovalWorkflow.latest_public_version_status(@page.id, :released))

    # default, same as disabled OR current in pending/rejected approval
    default = disabled ||
              (@wiki_approval_data[:approval] && @wiki_approval_data[:approval].status.in?(%w[pending rejected draft]))

    status_hidden = disabled ? "draft" : "published"

    if @wiki_approval_data[:setting].wiki_draft_enabled == false && 
       @wiki_approval_data[:setting].wiki_approval_enabled && 
       @wiki_approval_data[:setting].wiki_approval_required == false &&
       @wiki_approval_data[:setting].wiki_approval_version == false
        disabled = true
        default = false
        status_hidden = "published"
    end

-%>
    <p id="wiki_approval_draft_form">
        <label><%= l("wiki_approval_workflow.status.draft") %></label>
        <%= hidden_field_tag 'status_disabled', disabled %>
        <%= hidden_field_tag 'status', status_hidden %>
        <%= check_box_tag 'status', "draft", default, disabled: disabled %>
    </p>

<% end 

if RedmineWikiApproval.wiki_comment_required?(@project, @wiki_approval_data&.dig(:setting)) %>

    <script>
        // for the required *
        document.addEventListener('DOMContentLoaded', function() {
            // input field from comments wiki edit page
            const input = document.getElementById("content_comments");
            if (input) {
                const label = input.previousElementSibling; // labe is previous
                if (label && label.tagName.toLowerCase() === "label") {
                    // create span, appendChild inside
                    const span = document.createElement("span");
                    span.className = "required";
                    span.textContent = " *";
                    label.appendChild(span);
                }
            }
        });

    </script>
<% end %>