<%    
if @wiki_approval_data && RedmineWikiApproval::Settings.draft_create?(@project, @wiki_approval_data[:setting])
    ui_fields = RedmineWikiApproval::WikiApproval.wiki_approval_ui_status_draft(
                    page: @page,
                    approval: @wiki_approval_data[:approval],
                    setting: @wiki_approval_data[:setting]
                )
-%>
    <p id="wiki_approval_draft_form">
        <label><%= l("wiki_approval_workflow.status.draft") %></label>
        <%= hidden_field_tag 'status', ui_fields[:status] %>
        <%= check_box_tag 'status', "draft", ui_fields[:checked], disabled: ui_fields[:approval_required] %>
    </p>

<% end 

if RedmineWikiApproval::Settings.wiki_comment_required?(@project, @wiki_approval_data&.dig(:setting)) %>

    <script>
        // for the required *
        document.addEventListener('DOMContentLoaded', function() {
            // input field from comments wiki edit page
            const input = document.getElementById("content_comments");
            if (input) {
                const label = input.previousElementSibling; // labe is previous
                if (label && label.tagName.toLowerCase() === "label") {
                    // create span, appendChild inside
                    const span = document.createElement("span");
                    span.className = "required";
                    span.textContent = " *";
                    label.appendChild(span);
                }
            }
        });

    </script>
<% end %>