
$('#ajax-modal').html
(
  '<div class="modal-header">' +
    '<h3 class="title"><%= j l(:label_wiki_approval_settings_enabled) %></h3>' +
  '</div>' +
  '<div class="modal-body">' +
    '<%= j render partial: "grant_dialog", locals: { step: @step } %>' +
  '</div>'
);
showModal('ajax-modal');
